@import "tailwindcss";

@theme {
  --color-waste-50: #ecfdf5;
  --color-waste-100: #d1fae5;
  --color-waste-200: #a7f3d0;
  --color-waste-300: #6ee7b7;
  --color-waste-400: #34d399;
  --color-waste-500: #10b981;
  --color-waste-600: #059669;
  --color-waste-700: #047857;
  
  --color-dark-900: #0f172a;
  --color-dark-800: #1e293b;
  --color-dark-700: #334155;
}


body {
  background-color: #0f172a; /* Hardcoded Dark Blue */
  color: #f8fafc;            /* Hardcoded White */
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .border-border {
    border-color: #334155;
  }
}